<body bgcolor="#ADD8E6">
<font color="BLACK">
<font size="5">

<h3>Your Link</h3>

<pre>
    Email: <%= @user_email.inspect %>


    Your Google Sheet: <a href = "<%= @cat %>"> <%= @cat %> </a>

</pre>


